<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.0/jquery.js"></script>
</head>
<body>
    <style>
    textarea{
        background-color: rgba(255,255,255,0.5)
    }
    </style>

    <textarea name="" id="jp" cols="30" rows="10"></textarea>
    <textarea name="" id="cn" cols="30" rows="10"></textarea>


    <script>
            var ws_cn = new WebSocket("ws://"+window.document.domain+":5001/");  

            ws_cn.onmessage = function (event) {
                content = document.createTextNode(event.data);
                $("#jp").val($("#jp").val() + content.data);
                var textarea = document.getElementById('jp');
                textarea.scrollTop = textarea.scrollHeight;

            };

            var ws_jp = new WebSocket("ws://"+window.document.domain+":5002/");  

            ws_jp.onmessage = function (event) {
                content = document.createTextNode(event.data);
                $("#cn").val($("#cn").val() + content.data);
                var textarea = document.getElementById('cn');
                textarea.scrollTop = textarea.scrollHeight;

            };

    </script>
    </body>
</html>
